body {
    background-color: #d8ccb4;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
}

.calculator {
    border: 5px solid black;
}

.topRow {
    display: flex;
    height: 100%;
}

#display {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    align-items: center;
    background-color: rgb(177, 177, 177);
    height: 50px;
    width: 60%;
    max-width: 60%;
    overflow: hidden;
    font-size: 2em;
}

#lastDisplay {
    display: flex;
    align-items: center;
    background-color: gray;
    height: 50px;
    width: 100%;
    overflow: hidden;
    font-size: 32px;
}

#clear, #backspace {
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    width: 20%;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btnRow1, .btnRow2, .btnRow3, .btnRow4 {
    display: flex;
    flex: 1;
    height: 100%;
}

.btn {
    background-color: rgb(241, 241, 241);
    flex: 1;
    height: 100px;
    width: 100px;
    font-size: 32px;
}

.btnOp{
   flex: 1;
   background-color: rgb(247, 194, 95);
   font-size: 32px;
}

#equals {
    background-color: rgb(241, 163, 18);
    font-size: 32px;
}